@import "components/media-queris";
//color principal de fuente//
$color-pr-fuente: #f2f2f2;
//color secundario de fuente//
$color-sec-fuente:#333333;
//color principa//
$color-principal:#dd1818;
//color secundario//
$color-secundario:#333333;
//colores de local de barberia en index//
$beige: #fefaed;
$outline: #344960;
$blue2: #94bed3;
$grey1: #aaafad;
$red: #f47067;
$blue3: #6c90a4;
$blue4: #4e657a;
$grey2: #647584;
$white: #fcf9f1;
$blueWindow1: #cceeef;
$blueWindow2: #e5f4f1;